/* ESTILO 1 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILO 2 */
header {
    padding: 16px 0;
    background-color: #182c61;
    color: #ecf0f1;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

/* ESTILO 3 */
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

/* ESTILO 4 */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* ESTILO 6 */
.brands-list img {
    height: 24px;
}

.brands-list li {
    display: inline;
    margin-right: 8px;
}

/* ESTILO 7 */
section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2 {
    margin-bottom: 16px;
    color: #182C61;
}

section p {
    margin-bottom: 8px;
    color: #333;
}

/* ESTILO 8 */
.store-front {
    margin-right: 32px;
}